body {
    background-image: url(/Assets/mountbg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.heading {
    font-size: 35px;
    color:aqua;
    text-align: center;
    text-shadow: cyan 0 0 50px;
    line-height: 40%;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    background-color: #0A0A0A;
    opacity: 1;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.head {
    opacity: 1;
}

label{
    color: red;
}

legend{
    color: cyan;
}

fieldset{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 35%;
}

.name{
    border-color: greenyellow;
}
.age{
    border-color: yellow;
}
.favgame{
    border-color: darkblue;
}

.dropbox{
    background-color: yellowgreen;
    border-radius: 10%;
}

option{
    border-style: solid;
    border-color: #0A0A0A;
    background-color: gray;
}

.foothead{
    border-style:dashed;
    border-color: darkcyan;
}

.foot{
    font-size: 17px;
    color: white;
    text-align: center;
    position: relative; top:-6px;
    background-color: transparent;
    padding: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

a:link{
    color: aquamarine;
}
a:hover{
    color: orangered;
}